<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
      

<head>

<meta charset="UTF-8">
<title>MÜST Music Copyright Society of Chinese Taipei</title>
<!-- Meta Tag -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='copyright' content='bonik'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Site Title -->
		<title>MÜST Music Copyright Society of Chinese Taipei</title>
		
		<!-- Fav Icon -->
		<link rel="icon" type="img/favicon.png" th:href="@{/mustEn/img/favicon.png}">
		
		<!-- Google Font -->
		<link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800;1,900&display=swap}" rel="stylesheet" type="text/css">   
		
		<!-- Theme Stylesheet -->
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/cube-portfolio.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/slicknav.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/maginific-popup.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/jquery.fancybox.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/animate.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/animate-text.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/font-awesome.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/owl.carousel.min.css}">
		
		<!-- Theme Default CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/reset.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/responsive.css}">
		<!-- Taiwan Icons -->
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/twicon/twicon.css}">
		
<!-- 		<link rel="stylesheet" type="text/css" href="#" id="bonik_custom">顏色更換的 -->

</head>
<!-- Jquery Plugin JS -->
		<script th:src="@{/mustEn/js/jquery.min.js}"></script>
		<script th:src="@{/mustEn/js/popper.min.js}"></script>
		<script th:src="@{/mustEn/js/bootstrap.min.js}"></script>
		<script th:src="@{/mustEn/js/theme-option.js}"></script>
		<script th:src="@{/mustEn/js/waypoints.min.js}"></script>
		<script th:src="@{/mustEn/js/jquery.counterup.min.js}"></script>
		<script th:src="@{/mustEn/js/modernizer.min.js}"></script>
		<script th:src="@{/mustEn/js/magnific-popup.min.js}"></script>
		<script th:src="@{/mustEn/js/cube-portfolio.min.js}"></script>
		<script th:src="@{/mustEn/js/owl.carousel.min.js}"></script>
		<script th:src="@{/mustEn/js/wow.min.js}"></script>
		<script th:src="@{/mustEn/js/jquery-fancybox.min.js}"></script>
		<script th:src="@{/mustEn/js/jquery.slicknav.min.js}"></script>
		<script th:src="@{/mustEn/js/steller.min.js}"></script>
		<script th:src="@{/mustEn/js/easing.min.js}"></script>
		<script th:src="@{/mustEn/js/jquery.scrollUp.min.js}"></script>
		<script th:src="@{/mustEn/js/main.js}"></script>
		<script th:src="@{/util/js/FormUtil.js}"></script>
		<!-- End Jquery Plugin JS -->



<!-- <body> -->

<!-- </body> -->
</html>