<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="mustEn/head"></div>
<body>
	<div th:replace="mustEn/header :: header"></div>
<!-- 	<div style="text-align:center;">首頁待討論後建置</div> -->
	<!-- Hero Area輪播投影片 -->
		<section  class="hero-area">
			<div  class="hero-slider">
				<!-- Single Slider -->
				<div  class="single-slider" style="background-image:url('https://img.youtube.com/vi/fmA4o7uQJfk/maxresdefault.jpg');background-position:60%;background-size:40%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="hero-content">
									<h1>What is MÜST</h1>
<!-- 									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p> -->
									<!-- Slider Button -->
									<div class="button">
										Watch video <i class="fa fa-hand-o-right"></i>
<!-- 										<a href="blog.html" class="theme-btn">Read Articles</a> -->
										<div class="video-main">
											<!-- Promo-Video -->
											<div class="promo-video">
												<div class="waves-block">
													<div class="waves wave-1"></div>
													<div class="waves wave-2"></div>
													<div class="waves wave-3"></div>
												</div>
											</div>
											<a href="https://www.youtube.com/watch?v=fmA4o7uQJfk" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
										</div>
									</div>
									<!-- End Slider Button -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Single Slider -->
				<div  class="single-slider" style="background-image:url('https://img.youtube.com/vi/_1XMraM5vQE/sddefault.jpg');background-position:75%;background-size:30%">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="hero-content">
									<h1>Songwriters’ ideas about protecting music copyright</h1>
<!-- 									<p>—創作人淺談(一)田亞霍+李佳薇</p> -->
									<!-- Slider Button -->
									<div class="button">
										Watch video <i class="fa fa-hand-o-right"></i>
<!-- 										<a href="portfolio.html" class="theme-btn">View Profile</a> -->
										<div class="video-main">
											<!-- Promo-Video -->
											<div class="promo-video">
												<div class="waves-block">
													<div class="waves wave-1"></div>
													<div class="waves wave-2"></div>
													<div class="waves wave-3"></div>
												</div>
											</div>
											<a href="https://www.youtube.com/watch?v=_1XMraM5vQE" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
										</div>
									</div>
									<!-- End Slider Button -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Single Slider -->
				<div  class="single-slider" style="background-image:url('https://img.youtube.com/vi/7vWCl6NobXM/maxresdefault.jpg');background-position:75%;background-size:40%">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="hero-content">
									<h1>Songwriters’ ideas<br>about protecting<br>music copyright</h1>
<!-- 									<p>—創作人淺談(二)許書豪+V.K克+蔡佩軒</p> -->
									<!-- Slider Button -->
									<div class="button">
										Watch video <i class="fa fa-hand-o-right"></i>
										<div class="video-main">
											<!-- Promo-Video -->
											<div class="promo-video">
												<div class="waves-block">
													<div class="waves wave-1"></div>
													<div class="waves wave-2"></div>
													<div class="waves wave-3"></div>
												</div>
											</div>
											<a href="https://www.youtube.com/watch?v=7vWCl6NobXM" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
										</div>
									</div>
									<!-- End Slider Button -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Single Slider -->
				<div  class="single-slider" style="background-image:url('https://img.youtube.com/vi/bG6mEh5zjzk/maxresdefault.jpg');background-position:80%;background-size:40%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="hero-content">
									<h1>Songwriters’ ideas<br>about protecting music copyright</h1>
<!-- 									<p>—韋禮安不只是歌手</p> -->
									<!-- Slider Button -->
									<div class="button">
										Watch video <i class="fa fa-hand-o-right"></i>
										<div class="video-main">
											<!-- Promo-Video -->
											<div class="promo-video">
												<div class="waves-block">
													<div class="waves wave-1"></div>
													<div class="waves wave-2"></div>
													<div class="waves wave-3"></div>
												</div>
											</div>
											<a href="https://www.youtube.com/watch?v=bG6mEh5zjzk" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
										</div>
									</div>
									<!-- End Slider Button -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Single Slider -->
				<div  class="single-slider" style="background-image:url('https://img.youtube.com/vi/SC_CWKsB6wQ/maxresdefault.jpg');background-size:30%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="hero-content">
									<h1>What college students think about MÜST</h1>
<!-- 									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p> -->
									<!-- Slider Button -->
									<div class="button">
										Watch video <i class="fa fa-hand-o-right"></i>
<!-- 										<a href="blog.html" class="theme-btn">Read Articles</a> -->
										<div class="video-main">
											<!-- Promo-Video -->
											<div class="promo-video">
												<div class="waves-block">
													<div class="waves wave-1"></div>
													<div class="waves wave-2"></div>
													<div class="waves wave-3"></div>
												</div>
											</div>
											<a href="https://www.youtube.com/watch?v=SC_CWKsB6wQ" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
										</div>
									</div>
									<!-- End Slider Button -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Single Slider -->
				<div  class="single-slider" style="background-image:url('https://img.youtube.com/vi/PGrqFKcJkHw/maxresdefault.jpg');background-position:80%;background-size:40%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="hero-content">
									<h1>2019 MÜST International<br>Songwriting Camp</h1>
<!-- 									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p> -->
									<!-- Slider Button -->
									<div class="button">
										Watch video <i class="fa fa-hand-o-right"></i>
										<div class="video-main">
											<!-- Promo-Video -->
											<div class="promo-video">
												<div class="waves-block">
													<div class="waves wave-1"></div>
													<div class="waves wave-2"></div>
													<div class="waves wave-3"></div>
												</div>
											</div>
											<a href="https://www.youtube.com/watch?v=PGrqFKcJkHw" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
										</div>
									</div>
									<!-- End Slider Button -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Single Slider -->
				<div  class="single-slider" style="background-image:url('https://img.youtube.com/vi/MtS0cZGR-rs/maxresdefault.jpg');background-position:75%;background-size:40%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="hero-content">
									<h1>2018 MÜST<br>International<br>Songwriting Camp</h1>
<!-- 									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p> -->
									<!-- Slider Button -->
									<div class="button">
										Watch video <i class="fa fa-hand-o-right"></i>
										<div class="video-main">
											<!-- Promo-Video -->
											<div class="promo-video">
												<div class="waves-block">
													<div class="waves wave-1"></div>
													<div class="waves wave-2"></div>
													<div class="waves wave-3"></div>
												</div>
											</div>
											<a href="https://www.youtube.com/watch?v=MtS0cZGR-rs" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
										</div>
									</div>
									<!-- End Slider Button -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Single Slider -->
				<div  class="single-slider" style="background-image:url('https://img.youtube.com/vi/s1O6jqsS9Yk/maxresdefault.jpg');background-position:70%;background-size:40%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="hero-content">
									<h1>Media Report</h1>
<!-- 									<p>-鏡週刊</p> -->
									<!-- Slider Button -->
									<div class="button">
										Watch video <i class="fa fa-hand-o-right"></i>
										<div class="video-main">
											<!-- Promo-Video -->
											<div class="promo-video">
												<div class="waves-block">
													<div class="waves wave-1"></div>
													<div class="waves wave-2"></div>
													<div class="waves wave-3"></div>
												</div>
											</div>
											<a href="https://www.youtube.com/watch?v=s1O6jqsS9Yk" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
										</div>
									</div>
									<!-- End Slider Button -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Single Slider 備份-->
<!-- 				<div class="single-slider" th:style="'background-image:url(' + @{/mustEn/image/How_MUST_works.jpg} + ');'"> -->
<!-- 					<div class="container"> -->
<!-- 						<div class="row"> -->
<!-- 							<div class="col-lg-7 col-md-8 col-12"> -->
<!-- 								<div class="hero-content"> -->
<!-- 									<h1>The Mode of Operation</h1> -->
<!-- 									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p> -->
<!-- 									Slider Button -->
<!-- 									<div class="button"> -->
<!-- 										<a href="services.html" class="theme-btn">Get Started</a> -->
<!-- 										<div class="video-main"> -->
<!-- 											Promo-Video -->
<!-- 											<div class="promo-video"> -->
<!-- 												<div class="waves-block"> -->
<!-- 													<div class="waves wave-1"></div> -->
<!-- 													<div class="waves wave-2"></div> -->
<!-- 													<div class="waves wave-3"></div> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 											<a href="https://www.youtube.com/watch?v=fmA4o7uQJfk" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									End Slider Button -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<!-- End Single Slider備份 -->
			</div>
		</section>
		<!-- End Hero Area -->
		<!-- About Area -->
		<section class="about-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12 wow fadeInLeft" data-wow-duration="1s">
						<!-- About image -->
						<div class="about-img">
							<img th:src="@{/mustEn/image/g4.png}" alt="#">
							<div class="activity"><span>20+</span> Years</div>
						</div>
						<!-- End About image -->
					</div>
					<div class="col-lg-6 col-md-6 col-12 wow fadeInRight" data-wow-duration="2s">
						<!-- About content -->
						<div class="about-content">
							<span>MÜST</span>
							<h2>Founded in <b>1999</b></h2>
<!-- 							<p>待確認文字</p> -->
							<div class="feature">
								<!-- Single Feature -->
								<div class="single-feature">
									<i class="fa twicon-main-island"></i>
									<div class="feature-content">
										<h3>The largest collective management organization in Taiwan</h3>
<!-- 										<p>待確認文字</p> -->
									</div>
								</div>
								<!-- Single Feature -->
								<div class="single-feature">
									<i class="fa fa-globe"></i>
									<div class="feature-content">
										<h3>The sole representative of CISAC in Taiwan</h3>
<!-- 										<p>待確認文字</p> -->
									</div>
								</div>
							</div>
							<div class="about-theme-btn">
								<a href="about_index" class="theme-btn">More about us</a>
							</div>
						</div>
						<!-- End About content -->
					</div>
				</div>
			</div>
		</section>	
		<!-- End About Area -->	
	<div th:replace="mustEn/footer :: footer"></div>
</body>
</html>
