<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="mustEn/head"></div>
<body>
	<div th:replace="mustEn/header :: header"></div>
	<div th:replace="mustEn/header :: breadcrumbs-link"></div>
	<section class="service-area archive">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
					<div class="section-title">
						<h6>Link</h6>
						<h3>WORK SEARCH</h3>
						<div class="line-bot"></div>
<!-- 						<p>可以放文字</p> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="2s">
					<!-- Single Service -->
					<div class="single-service">
						<div class="service-head">
<!-- 							<div class="service-img"> -->
								<img th:src="@{/mustEn/image/link/must.png}" alt="#">
<!-- 								<i class="fa fa-eye"></i> -->
<!-- 							</div> -->
						</div>
						<div class="service-content">
							<h4>MÜST</h4>
<!-- 							<p>There is now an abundance of readable dummy texts. These are usually used when a text is required purely. </p> -->
						</div>
						<div class="service-bottom">
							<a href="https://www.must.org.tw/tw/chinese_musical/index.aspx"><i class="fa fa-chevron-right"></i></a>
						</div>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="1s">
					<!-- Single Service -->
					<div class="single-service">
						<div class="service-head">
<!-- 							<div class="service-img"> -->
								<img th:src="@{/mustEn/image/link/ISWC.gif}" alt="#">
<!-- 								<i class="fa fa-edit"></i> -->
<!-- 							</div> -->
						</div>
						<div class="service-content">
							<h4>ISWC</h4>
<!-- 							<p>可以放文字</p> -->
						</div>
						<div class="service-bottom">
							<a href="https://iswcnet.cisac.org/"><i class="fa fa-chevron-right"></i></a>
						</div>	
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="2s">
					<!-- Single Service -->
					<div class="single-service">
						<div class="service-head">
<!-- 							<div class="service-img"> -->
								<img th:src="@{/mustEn/image/link/CASH.gif}" alt="#">
<!-- 								<i class="fa fa-eye"></i> -->
<!-- 							</div> -->
						</div>
						<div class="service-content">
							<h4>CASH (Hong Kong)</h4>
<!-- 							<p>There is now an abundance of readable dummy texts. These are usually used when a text is required purely. </p> -->
						</div>
						<div class="service-bottom">
							<a href="https://www.cash.org.hk/work_search?searchField=publisher&searchMatch=exact&searchKword=YOSHIMOTO%20MUSIC%20CO.,LTD"><i class="fa fa-chevron-right"></i></a>
						</div>
					</div>
					<!-- End Single Service -->
				</div>
				<!-- Single Service -->
				<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="2s">
					<div class="single-service">
						<div class="service-head">
							<img th:src="@{/mustEn/image/link/JASRAC.gif}" alt="#">
<!-- 							<div class="service-img"> -->
<!-- 								<img src="img/service/service-img-3.jpg" alt="#">  -->
<!-- 								<i class="fa fa-lightbulb-o"></i> -->
<!-- 							</div> -->
						</div>
						<div class="service-content">
							<h4>JASRAC (Japan)</h4>
<!-- 							<p>There is now an abundance of readable dummy texts. These are usually used when a text is required purely. </p> -->
						</div>
						<div class="service-bottom">
							<a href="http://www2.jasrac.or.jp/eJwid/"><i class="fa fa-chevron-right"></i></a>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
				<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="1s">
					<!-- Single Service -->
					<div class="single-service">
						<div class="service-head">
							<img th:src="@{/mustEn/image/link/ASCAP.gif}" alt="#">
<!-- 							<div class="service-img"> -->
<!-- 								<img src="img/service/service-img-1.jpg" alt="#">  -->
<!-- 								<i class="fa fa-edit"></i> -->
<!-- 							</div> -->
						</div>
						<div class="service-content">
							<h4>ASCAP (US)</h4>
<!-- 							<p>There is now an abundance of readable dummy texts. These are usually used when a text is required purely. </p> -->
						</div>
						<div class="service-bottom">
							<a href="https://www.ascap.com/Home/ace-title-search/index.aspx"><i class="fa fa-chevron-right"></i></a>
						</div>	
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="2s">
					<!-- Single Service -->
					<div class="single-service">
						<div class="service-head">
							<img th:src="@{/mustEn/image/link/BMI.gif}" alt="#">
<!-- 							<div class="service-img"> -->
<!-- 								<img src="img/service/service-img-2.jpg" alt="#">  -->
<!-- 								<i class="fa fa-eye"></i> -->
<!-- 							</div> -->
						</div>
						<div class="service-content">
							<h4>BMI (US)</h4>
<!-- 							<p>There is now an abundance of readable dummy texts. These are usually used when a text is required purely. </p> -->
						</div>
						<div class="service-bottom">
							<a href="http://www.bmi.com/search/"><i class="fa fa-chevron-right"></i></a>
						</div>
					</div>
					<!-- End Single Service -->
				</div>
				<!-- Single Service -->
				<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="2s">
					<div class="single-service">
						<div class="service-head">
							<img th:src="@{/mustEn/image/link/GEMA.gif}" alt="#">
<!-- 							<div class="service-img"> -->
<!-- 								<img src="img/service/service-img-3.jpg" alt="#">  -->
<!-- 								<i class="fa fa-lightbulb-o"></i> -->
<!-- 							</div> -->
						</div>
						<div class="service-content">
							<h4>GEMA (Germany) </h4>
<!-- 							<p>There is now an abundance of readable dummy texts. These are usually used when a text is required purely. </p> -->
						</div>
						<div class="service-bottom">
							<a href="https://online.gema.de/werke/search.faces"><i class="fa fa-chevron-right"></i></a>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
				<!-- Single Service -->
				<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="2s">
					<div class="single-service">
						<div class="service-head">
							<img th:src="@{/mustEn/image/link/APRA.gif}" alt="#">
						</div>
						<div class="service-content">
							<h4>APRA (Australia) </h4>
<!-- 							<p>There is now an abundance of readable dummy texts. These are usually used when a text is required purely. </p> -->
						</div>
						<div class="service-bottom">
							<a href="http://www.amcos.com.au/"><i class="fa fa-chevron-right"></i></a>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
			</div>
		</div>
	</section>
	<div th:replace="mustEn/footer :: footer"></div>
</body>
</html>
