<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="mustEn/head"></div>
<body>
    <div th:replace="mustEn/header :: header"></div>
	<div th:replace="mustEn/header :: breadcrumbs-oversea_societies"></div>
	<section class="blog-single-post section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="row">
						<div class="col-12">
							<div class="single-area">
								<div class="single-content">										
										<p>&emsp;&emsp;MÜST has representation agreements with nearly 50 music copyright organizations covering more than 100 countries/regions worldwide. By this agreement, MÜST cooperates closely with its affiliated societies for protecting and supporting its members’ music around the world.</p>
									<br>
									</div>	
								<!-- Blog Head -->
								<div class="single-head">
									<div class="maps-area-OS">
										<div class="main-maps">
											<iframe src="https://www.google.com/maps/d/embed?mid=1XqOV-vw1_YdCliTrniaIMKd1nM1rPuWO&hl=en" width="640" height="480"></iframe>
<!-- 											<iframe src="https://www.google.com/maps/d/embed?mid=1XqOV-vw1_YdCliTrniaIMKd1nM1rPuWO" width="640" height="480"></iframe> -->
										</div>
									</div>
<!-- 									<img th:src="@{/mustEn/image/Affiliated_Societies.jpg}"> -->
								</div>
<!-- 								<div class="single-area"> -->
<!-- 									<div class="table-responsive"> -->
<!-- 										<table class="table table-bordered"> -->
<!-- 											<thead> -->
<!-- 												<tr> -->
<!-- 											    	<th scope="col"></th> -->
<!-- 										            <th scope="col">Name</th> -->
<!-- 										            <th scope="col">CISAC code</th> -->
<!-- 										            <th scope="col">Country</th> -->
<!-- 										            <th scope="col">Website</th> -->
<!-- 											 	</tr> -->
<!-- 											</thead> -->
<!-- 											<tbody> -->
<!-- 												<tr> -->
<!--                                                     <td scope="row">1</td> -->
<!--                                                     <td>ABRAMUS</td> -->
<!--                                                     <td>201</td> -->
<!--                                                     <td>Brazil</td> -->
<!--                                                     <td><a href="http://www.abramus.org.br/" target="_blank">http://www.abramus.org.br/</a></td> -->
<!--                                                 <tr> -->
<!-- 									                <td scope="row">2</td> -->
<!-- 									                <td>ACDAM</td> -->
<!-- 									                <td>103</td> -->
<!-- 									                <td>Cuba</td> -->
<!-- 									                <td><a href="http://www.acdam.cu/" target="_blank">http://www.acdam.cu/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">3</td> -->
<!-- 									                <td>ACUM</td> -->
<!-- 									                <td>1</td> -->
<!-- 									                <td>Israel</td> -->
<!-- 									                <td><a href="http://www.acum.org.il/" target="_blank">http://www.acum.org.il/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">4</td> -->
<!-- 									                <td>AKKA/LAA</td> -->
<!-- 									                <td>122</td> -->
<!-- 									                <td>Latvia</td> -->
<!-- 									                <td><a href="http://www.akka-laa.lv/" target="_blank">http://www.akka-laa.lv/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">5</td> -->
<!-- 									                <td>AKM</td> -->
<!-- 									                <td>5</td> -->
<!-- 									                <td>Austria</td> -->
<!-- 									                <td><a href="http://www.akm.at/" target="_blank">http://www.akm.at/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">6</td> -->
<!-- 									                <td>AMRA</td> -->
<!-- 									                <td>17</td> -->
<!-- 									                <td>United States</td> -->
<!-- 									                <td><a href="https://www.amra.com/" target="_blank">https://www.amra.com/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">7</td> -->
<!-- 									                <td>APRA</td> -->
<!-- 									                <td>8</td> -->
<!-- 									                <td>Australia</td> -->
<!-- 									                <td><a href="http://www.apraamcos.com.au" target="_blank">http://www.apraamcos.com.au</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">8</td> -->
<!-- 									                <td>ARTISJUS</td> -->
<!-- 									                <td>9</td> -->
<!-- 									                <td>Hungary</td> -->
<!-- 									                <td><a href="http://www.artisjus.hu/" target="_blank">http://www.artisjus.hu/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">9</td> -->
<!-- 									                <td>ASCAP</td> -->
<!-- 									                <td>10</td> -->
<!-- 									                <td>United States</td> -->
<!-- 									                <td><a href="http://www.ascap.com" target="_blank">http://www.ascap.com</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">10</td> -->
<!-- 									                <td>BMI</td> -->
<!-- 									                <td>21</td> -->
<!-- 									                <td>United States</td> -->
<!-- 									                <td><a href="http://www.bmi.com/" target="_blank">http://www.bmi.com/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">11</td> -->
<!-- 									                <td>BUMA</td> -->
<!-- 									                <td>23</td> -->
<!-- 									                <td>Netherlands</td> -->
<!-- 									                <td><a href="http://www.bumastemra.nl/en/" target="_blank">http://www.bumastemra.nl/en/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">12</td> -->
<!-- 									                <td>CASH</td> -->
<!-- 									                <td>26</td> -->
<!-- 									                <td>Hong Kong</td> -->
<!-- 									                <td><a href="http://www.cash.org.hk" target="_blank">http://www.cash.org.hk</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">13</td> -->
<!-- 									                <td>COMPASS</td> -->
<!-- 									                <td>106</td> -->
<!-- 									                <td>Singapore</td> -->
<!-- 									                <td><a href="http://www.compass.org.sg/" target="_blank">http://www.compass.org.sg/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">14</td> -->
<!-- 									                <td>FILSCAP</td> -->
<!-- 									                <td>32</td> -->
<!-- 									                <td>Philippines</td> -->
<!-- 									                <td><a href="http://www.filscap.com.ph" target="_blank">http://www.filscap.com.ph</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">15</td> -->
<!-- 									                <td>GCA</td> -->
<!-- 									                <td>204</td> -->
<!-- 									                <td>Georgia</td> -->
<!-- 									                <td><a href="https://www.gca.ge/index.php?cid=60&lang=eng" target="_blank">https://www.gca.ge/index.php?cid=60&lang=eng</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">16</td> -->
<!-- 									                <td>GEMA</td> -->
<!-- 									                <td>35</td> -->
<!-- 									                <td>Germany</td> -->
<!-- 									                <td><a href="http://www.gema.de" target="_blank">http://www.gema.de</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">17</td> -->
<!-- 									                <td>HDS-ZAMP</td> -->
<!-- 									                <td>111</td> -->
<!-- 									                <td>Croatia</td> -->
<!-- 									                <td><a href="http://www.zamp.hr" target="_blank">http://www.zamp.hr</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">18</td> -->
<!-- 									                <td>IMRO</td> -->
<!-- 									                <td>128</td> -->
<!-- 									                <td>Ireland</td> -->
<!-- 									                <td><a href="http://www.imro.ie" target="_blank">http://www.imro.ie</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">19</td> -->
<!-- 									                <td>IPRS</td> -->
<!-- 									                <td>36</td> -->
<!-- 									                <td>India</td> -->
<!-- 									                <td><a href="https://www.iprs.org" target="_blank">https://www.iprs.org</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">20</td> -->
<!-- 									                <td>JACAP</td> -->
<!-- 									                <td>176</td> -->
<!-- 									                <td>Jamaica</td> -->
<!-- 									                <td><a href="https://www.jacapjamaica.com/" target="_blank">https://www.jacapjamaica.com/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">21</td> -->
<!-- 									                <td>JASRAC</td> -->
<!-- 									                <td>38</td> -->
<!-- 									                <td>Japan</td> -->
<!-- 									                <td><a href="http://www.jasrac.or.jp" target="_blank">http://www.jasrac.or.jp</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">22</td> -->
<!-- 									                <td>KAZAK</td> -->
<!-- 									                <td>177</td> -->
<!-- 									                <td>Kazakhstan</td> -->
<!-- 									                <td><a href="http://www.kazak.kz/" target="_blank">http://www.kazak.kz/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">23</td> -->
<!-- 									                <td>KOMCA</td> -->
<!-- 									                <td>118</td> -->
<!-- 									                <td>Republic of Korea</td> -->
<!-- 									                <td><a href="http://www.komca.or.kr/" target="_blank">http://www.komca.or.kr/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">24</td> -->
<!-- 									                <td>MACA</td> -->
<!-- 									                <td>265</td> -->
<!-- 									                <td>Macau</td> -->
<!-- 									                <td><a href="http://www.maca.org.mo" target="_blank">http://www.maca.org.mo</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">25</td> -->
<!-- 									                <td>MACP</td> -->
<!-- 									                <td>104</td> -->
<!-- 									                <td>Malaysia</td> -->
<!-- 									                <td><a href="http://www.macp.com.my" target="_blank">http://www.macp.com.my</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">26</td> -->
<!-- 									                <td>MCSC</td> -->
<!-- 									                <td>119</td> -->
<!-- 									                <td>China</td> -->
<!-- 									                <td><a href="http://www.mcsc.com.cn" target="_blank">http://www.mcsc.com.cn</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">27</td> -->
<!-- 									                <td>MCT</td> -->
<!-- 									                <td>126</td> -->
<!-- 									                <td>Thailand</td> -->
<!-- 									                <td><a href="http://www.mct.in.th" target="_blank">http://www.mct.in.th</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">28</td> -->
<!-- 									                <td>MOSCAP</td> -->
<!-- 									                <td>272</td> -->
<!-- 									                <td>Mongolia</td> -->
<!-- 									                <td><a href="http://moscapeng.weebly.com/" target="_blank">http://moscapeng.weebly.com/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">29</td> -->
<!-- 									                <td>MRCSN</td> -->
<!-- 									                <td>258</td> -->
<!-- 									                <td>Nepal</td> -->
<!-- 									                <td><a href="http://www.mrcsn.org" target="_blank">http://www.mrcsn.org</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">30</td> -->
<!-- 									                <td>OSA</td> -->
<!-- 									                <td>50</td> -->
<!-- 									                <td>Czech Republic</td> -->
<!-- 									                <td><a href="http://www.osa.cz/" target="_blank">http://www.osa.cz/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">31</td> -->
<!-- 									                <td>PRS</td> -->
<!-- 									                <td>52</td> -->
<!-- 									                <td>Untied Kingdom</td> -->
<!-- 									                <td><a href="http://www.prsformusic.com" target="_blank">http://www.prsformusic.com</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">32</td> -->
<!-- 									                <td>SABAM</td> -->
<!-- 									                <td>55</td> -->
<!-- 									                <td>Belgium</td> -->
<!-- 									                <td><a href="http://www.sabam.be" target="_blank">http://www.sabam.be</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">33</td> -->
<!-- 									                <td>SACEM</td> -->
<!-- 									                <td>58</td> -->
<!-- 									                <td>France</td> -->
<!-- 									                <td><a href="http://www.sacem.fr" target="_blank">http://www.sacem.fr</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">34</td> -->
<!-- 									                <td>SACM</td> -->
<!-- 									                <td>59</td> -->
<!-- 									                <td>Mexico</td> -->
<!-- 									                <td><a href="http://sacm.org.mx/index.html" target="_blank">http://sacm.org.mx/index.html</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">35</td> -->
<!-- 									                <td>SADAIC</td> -->
<!-- 									                <td>61</td> -->
<!-- 									                <td>Argentina</td> -->
<!-- 									                <td><a href="http://www.sadaic.org.ar" target="_blank">http://www.sadaic.org.ar</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">36</td> -->
<!-- 									                <td>SAMRO</td> -->
<!-- 									                <td>63</td> -->
<!-- 									                <td>South Africa</td> -->
<!-- 									                <td><a href="http://www.samro.org.za/" target="_blank">http://www.samro.org.za/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">37</td> -->
<!-- 									                <td>SAYCO</td> -->
<!-- 									                <td>84</td> -->
<!-- 									                <td>Colombia</td> -->
<!-- 									                <td><a href="http://www.sayco.org" target="_blank">http://www.sayco.org</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">38</td> -->
<!-- 									                <td>SCD</td> -->
<!-- 									                <td>29</td> -->
<!-- 									                <td>Chile</td> -->
<!-- 									                <td><a href="http://www.scd.cl" target="_blank">http://www.scd.cl</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">39</td> -->
<!-- 									                <td>SESAC</td> -->
<!-- 									                <td>71</td> -->
<!-- 									                <td>United States</td> -->
<!-- 									                <td><a href="http://www.sesac.com" target="_blank">http://www.sesac.com</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">40</td> -->
<!-- 									                <td>SGAE</td> -->
<!-- 									                <td>72</td> -->
<!-- 									                <td>Spain</td> -->
<!-- 									                <td><a href="http://www.sgae.es" target="_blank">http://www.sgae.es</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">41</td> -->
<!-- 									                <td>SIAE</td> -->
<!-- 									                <td>74</td> -->
<!-- 									                <td>Italy</td> -->
<!-- 									                <td><a href="http://www.siae.it" target="_blank">http://www.siae.it</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">42</td> -->
<!-- 									                <td>SOCAN</td> -->
<!-- 									                <td>101</td> -->
<!-- 									                <td>Canada</td> -->
<!-- 									                <td><a href="http://www.socan.ca" target="_blank">http://www.socan.ca</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">43</td> -->
<!-- 									                <td>STIM</td> -->
<!-- 									                <td>79</td> -->
<!-- 									                <td>Sweden</td> -->
<!-- 									                <td><a href="http://www.stim.se" target="_blank">http://www.stim.se</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">44</td> -->
<!-- 									                <td>SUISA</td> -->
<!-- 									                <td>80</td> -->
<!-- 									                <td>Switzerland</td> -->
<!-- 									                <td><a href="http://www.suisa.ch/" target="_blank">http://www.suisa.ch/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">45</td> -->
<!-- 									                <td>TEOSTO</td> -->
<!-- 									                <td>89</td> -->
<!-- 									                <td>Finland</td> -->
<!-- 									                <td><a href="http://www.teosto.fi" target="_blank">http://www.teosto.fi</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">46</td> -->
<!-- 									                <td>UBC</td> -->
<!-- 									                <td>93</td> -->
<!-- 									                <td>Brazil</td> -->
<!-- 									                <td><a href="http://www.ubc.org.br" target="_blank">http://www.ubc.org.br</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">47</td> -->
<!-- 									                <td>VCPMC</td> -->
<!-- 									                <td>246</td> -->
<!-- 									                <td>Vietnam</td> -->
<!-- 									                <td><a href="http://vcpmc.org/vcpmc/" target="_blank">http://vcpmc.org/vcpmc/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">48</td> -->
<!-- 									                <td>WAMI</td> -->
<!-- 									                <td>269</td> -->
<!-- 									                <td>Indonesia</td> -->
<!-- 									                <td><a href="http://www.wami.id/en/" target="_blank">http://www.wami.id/en/</a></td> -->
<!-- 									            <tr> -->
<!-- 									                <td scope="row">49</td> -->
<!-- 									                <td>ZAiKS</td> -->
<!-- 									                <td>97</td> -->
<!-- 									                <td>Poland</td> -->
<!-- 									                <td><a href="https://zaiks.org.pl/" target="_blank">https://zaiks.org.pl/</a></td> -->
<!-- 												</tr> -->
<!-- 											</tbody> -->
<!-- 										</table> -->
<!-- 									</div> -->
<!-- 								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="mustEn/footer :: footer"></div>
</body>
</html>
