<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.must.must.mapper.ActiveMapper">
	<select id="getAllActive" resultType="org.must.must.model.Active">
        select * from Active;
    </select>
    <select id="getActiveById" resultType="org.must.must.model.Active">
        select * from Active
        WHERE act_Id = #{actId};
    </select>
</mapper>
