<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>測試首頁</title>
<!-- Meta Tag -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='copyright' content='bonik'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Site Title -->
		<title>Bonik - Multipurpose Business & Digital Agency HTML Template</title>
		
		<!-- Fav Icon -->
		<link rel="icon" type="img/favicon.png" th:href="@{/mustEn/img/favicon.png}">
		
		<!-- Google Font -->
		<link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800;1,900&display=swap}" rel="stylesheet" type="text/css">   
		
		<!-- Theme Stylesheet -->
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/cube-portfolio.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/slicknav.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/maginific-popup.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/jquery.fancybox.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/animate.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/animate-text.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/font-awesome.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/owl.carousel.min.css}">
		
		<!-- Theme Default CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/reset.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/mustEn/css/responsive.css}">
		
		
		<link rel="stylesheet" type="text/css" href="#" id="bonik_custom">	
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>
<body>
測試blank.html
<p th:text="${name}"></p>
</body>
</html>